<h1>Here is a random beer</h1>
<section>
    <div>
        <img src="{{beer.image_url}}" alt="random-beer">
    </div>
    <div>
        <h2>{{beer.name}}</h2>
        <h3>{{beer.tagline}}</h3>

        <p>{{beer.description}}</p>
        <ul>Food pairing
            {{#each beer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
            </ul>
    <p>Brewers Tips: {{beer.brewers_tips}}</p>
    </div>
</section>